<ion-header>
  <div class="header_logo">
    <img src="img/logo_final.png"/>
  </div>
</ion-header>
<ion-content>
<div>
  <table>
    <tr>
      <td>
        <div class="first_line">
          <a href="#/he.html"><img ng-click="gohe()"src="img/he.png"/></a>
        </div>
      </td>
      <td>
        <div class="first_line">
          <a href="#/she.html"><img ng-click="goshe()" src="img/she.png"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="second_line">
          <a href="#/tech.html"><img ng-click="gotech()" src="img/tech.png"/></a>
        </div>
      </td>
      <td>
        <div class="second_line">
          <a href="#/whats_hot.html"><img ng-click="gowhats()" src="img/whats_hot.png"/></a>
        </div>
      </td>
      <td>
        <div class="second_line">
          <a href="#/beauty.html"><img ng-click="gobeauty()" src="img/beauty.png"/></a>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="third_line">
          <a href="#/travel.html"><img ng-click="gotravel()" src="img/travel.png"/></a>
        </div>
      </td>
      <td>
        <div class="third_line">
          <a href="#/what_the_.html"><img ng-click="whathe()" src="img/what_the_.png"/></a>
        </div>
      </td>
    </tr>
  </table>
</div>
</ion-content>
