<ion-view>
<ion-content>
        <div class="first_line">
         <img ng-click="gohe()" src="img/he.png"/>
        </div>
        <div class="first_line">
       <img ng-click="goshe()" src="img/she.png"/>
        </div>
        <div class="second">
       <img ng-click="gotech()" src="img/tech.png"/>
        </div>
        <div class="second">
<img ng-click="gowhats()" src="img/whats_hot.png"/>        </div>
        <div class="second">
<img ng-click="gobeauty()" src="img/beauty.png"/>
        </div>
        <div class="third_line">
<img ng-click="gotravel()" src="img/travel.png"/>
        </div>
        <div class="third_line">
<img ng-click="whathe()" src="img/what_the_.png"/>
        </div>

</ion-content>
